<form method=POST action="/recipes/<%=@recipe.id%>">
    <input type='hidden' id='hidden' value='patch' name='_method'>
    <p>Name:<input type = "text" value="<%=@recipe.name%>" name="name"></p>
    <p>Cook Time:<input type = "text" value="<%=@recipe.cook_time%>" name="cook_time"></p>
    <p>Ingredients:<input type = "text" value="<%=@recipe.ingredients%>" name="ingredients"></p>
    <input type="submit" id="submit">
</form>